<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BrandsSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>NavigationSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Popdeem-SDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PopdeemSDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PopdeemSDKCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PopdeemSDKF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>PopdeemSDKUIKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PopdeemSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>TestSize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>libPopdeemSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3922FAA11DC0BDA100501E1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>393C39D61E852BF700315493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>393C39F11E852BF700315493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>393C39FC1E852BF700315493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>393D2B751C3AD0D300F1E253</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39537BC21C639B79001C6796</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39735AD81D23C7490008301E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39735BC81D23E60E0008301E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39788F4F1D1A998500BCE17E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39788FAA1D1A9A7500BCE17E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39788FBC1D1A9A7D00BCE17E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39A773791BF9EBB7007ED334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39A773911BF9EBB7007ED334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39A7739C1BF9EBB7007ED334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39D7D0641B8F0DCF00E45D0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39D7D06F1B8F0DCF00E45D0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39EB98FE1C84B75E00BB0DD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A90FA52C1C0368A8001DA473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
